@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 기본 스타일 */
:root {
    --primary: #E8A33D;
    --primary-dark: #B97A1F;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: 'IBM Plex Sans KR', sans-serif;
}